extends layout

block content
  each recipe in recipes
    div.mt-3.mb-2
      h1.px-2.py-1.mb-0
        a(href=`${recipe.url}`, title="Go to this recipe detail").black-link=recipe.title
      - var img = recipe.featured_image_url
      if isMobile
        - img = recipe.featured_image_url_mobile
      img.lozad.img-fluid(data-src=img, src=recipe.default_loading_image, alt='recipe image',
      onclick=`trackEvent(this,'home_recipe_image_click')`)
      div.px-2.py-1.border.rounded-bottom
        div
          .text-muted= recipe.description
        p.text-right.mt-2.lead
          a(href=`${recipe.url}`, title="Go to the recipe detail",
          onclick="trackEvent(this,'home_recipe_abrir')")=wordOpen





