include head
body
  // Main Navigation
  header.mb-2
    nav.navbar.navbar-expand-md.navbar-light.bg-yellow
      a.navbar-brand(href=pageUrl)
        strong.brand=siteName
      button.navbar-toggler(type='button',
      onclick="toggleNavbar();",
      data-toggle='collapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarMenu.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href=pageUrl)=siteName
          li.nav-item
            a.nav-link(href=facebookFanPageUrl+'?utm_source=web&utm_medium=cpc&utm_campaign=facebook_banner') Facebook
          li.nav-item.d-none
            a.nav-link(href='/recetas/video-recetas') Video Recetas
          li.nav-item.d-none
            a.nav-link(href=pageUrl) Recetas
          li.nav-item.d-none
            a.nav-link(href='/recetas/celiacos') Celíacos
          if isRecipes21
            li.nav-item
              a.nav-link(href='/recipes/scones') Scones
            li.nav-item
              a.nav-link(href='/recipes/american') American
            li.nav-item
              a.nav-link(href='/recipes/brazilian') Brazilian
            li.nav-item
              a.nav-link(href='/recipes/italian') Italian
            li.nav-item
              a.nav-link(href='/recipes/cakes') Cakes
            li.nav-item
              a.nav-link(href='/recipes/cookies') Cookies
            li.nav-item
              a.nav-link(href='/recipes/muffins') Muffins

    // sub nav bar  wit search and bell
    nav.navbar.navbar-dark.border-bottom.bg-light
        #searchTopContainer.d-none
          input#searchTop(name='search', type='text', title=`${wordSearch} ${wordRecipe}`,
                onclick="trackEvent(this,'search_top')"
                placeholder=`${wordSearch} ${wordRecipe}`, onkeyup=`searchTop(event, '${wordSearch}')`,
                value=searchText).form-control
        a(onclick="toggleBell(); trackEvent(this,'bell')", data-toggle='collapse', data-target='#navbarSupportedContent2', aria-controls='navbarSupportedContent2', aria-expanded='false', aria-label='Toggle navigation').d-none
          img(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTUuMTM3IDMuOTQ1Yy0uNjQ0LS4zNzQtMS4wNDItMS4wNy0xLjA0MS0xLjgydi0uMDAzYy4wMDEtMS4xNzItLjkzOC0yLjEyMi0yLjA5Ni0yLjEyMnMtMi4wOTcuOTUtMi4wOTcgMi4xMjJ2LjAwM2MuMDAxLjc1MS0uMzk2IDEuNDQ2LTEuMDQxIDEuODItNC42NjcgMi43MTItMS45ODUgMTEuNzE1LTYuODYyIDEzLjMwNnYxLjc0OWgyMHYtMS43NDljLTQuODc3LTEuNTkxLTIuMTk1LTEwLjU5NC02Ljg2My0xMy4zMDZ6bS0zLjEzNy0yLjk0NWMuNTUyIDAgMSAuNDQ5IDEgMSAwIC41NTItLjQ0OCAxLTEgMXMtMS0uNDQ4LTEtMWMwLS41NTEuNDQ4LTEgMS0xem0zIDIwYzAgMS41OTgtMS4zOTIgMy0yLjk3MSAzcy0zLjAyOS0xLjQwMi0zLjAyOS0zaDZ6Ii8+PC9zdmc+")
          span.badge.badge-pill.badge-danger.bell-badge 3
        #navbarSupportedContent2.collapse.navbar-collapse.d-none
          .card.mt-2
            .card-header.font-weight-bold=wordMostVisitedRecipes
            .card-body
              each recipe in recipesMostVisited
                  .card.border-0.mb-3(style="max-width: 540px;")
                    .row.no-gutters
                      .col-4(style="width: 390px;")
                        - var img = recipe.thumbnail300
                        img.lozad.card-img(data-src=img, src=recipe.default_thumb_loading_image, alt='Imagen receta')
                      .col-8
                        .ml-3
                          h5.card-title
                            a(href=`${recipe.url}`, title="Ver receta").blue-link=recipe.title
                          p.card-text
                            | #{recipe.description}

  // END Main Navigation

  .container_fluid

    if isRecipes21
      // google top search box recipes21
      script( async src="https://cse.google.com/cse.js?cx=808b672d14b9e5923")
      div.gcse-search

    .row.no-gutters
        .col-md-3
        .col-md-6
          .py-1.px-1.mt-1

        .col-md-3
      // content
      .row.no-gutters
        .col-md-3
          //left
        .col-md-6
          .mt-1
          block content
          .text-center.mt-3.d-none
            a(href=facebookFanPageUrl+'?utm_source=web&utm_medium=cpc&utm_campaign=facebook_banner',  onclick=`trackEvent(this, 'click_facebook_banner');`)
              img.lozad.img-fluid(data-src="https://res.cloudinary.com/dniiru5xy/image/upload/c_scale,w_500,q_auto:low/v1577283800/resopia.com/facebook-fanpage.png", alt="facebook fna page image")
          //related recipes
          if displayMoreRecipes
            .mt-4.border-top
              h2.mx-1.pt-3=wordMoreRecipes
              .row-no-gutters
                each recipe in recipesSpotlight
                  .card.border-0.mb-3(style="max-width: 540px;")
                    .row.no-gutters
                      .col-4(style="width: 390px;")
                        - var img = recipe.thumbnail300
                        img.lozad.card-img(data-src=img, src=recipe.default_thumb_loading_image alt='Recipe image')
                      .col-8
                        .ml-3
                          h5.card-title.mt-3
                            a(href=`${recipe.url}`, title="See recipe").blue-link=recipe.title


            .text-center.my-2.pb-2
              a.btn.btn-primary.btn-lg.btn-block(href='/')=wordSeeMoreRecipes


  //footer
  footer.bg-dark.background-carbon-fibre.py-3.text-center
    .mt-3
      span.text-white © #{currentYear} Copyright
      span.text-white.mx-2 |
      a(href='/', title="Go to home page")
        span.text-white=wwwSite
    .mt-3
      a(href='/sitemap.xml', title="See sitemap")
        span.text-white sitemap
      span.text-white.mx-2 |
      a(href='/all/search', title="See search terms")
        span.text-white search terms
  div.pb-5.mb-3(style="min-height: 200px;")




include foot
