include head
body
  // Main Navigation
  header.mb-2
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href=pageUrl)
        strong.brand=siteName
      button.navbar-toggler(type='button', onclick="trackEvent(this,'menu')", data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href=pageUrl)
              | Inicio 
              span.sr-only (inicio)
          li.nav-item
            a.nav-link(href=facebookFanPageUrl+'?utm_source=web&utm_medium=cpc&utm_campaign=facebook_banner') Facebook
          li.nav-item.d-none
            a.nav-link(href='/recetas/video-recetas') Video Recetas
          li.nav-item.d-none
            a.nav-link(href=pageUrl) Recetas
          li.nav-item.d-none
            a.nav-link(href='/recetas/celiacos') Celíacos
    // sub nav bar  wit search and bell
    nav.navbar.navbar-dark.border-bottom.bg-light
        #searchTopContainer
          input#searchTop(name='search', type='text', title=`${wordSearch} ${wordRecipe}`,
                onclick="trackEvent(this,'search_top')"
                placeholder=`${wordSearch} ${wordRecipe}`, onkeyup=`searchTop(event, '${wordSearch}')`, 
                value=searchText).form-control
        a(onclick="trackEvent(this,'bell')", data-toggle='collapse', data-target='#navbarSupportedContent2', aria-controls='navbarSupportedContent2', aria-expanded='false', aria-label='Toggle navigation')
          i.fa.fa-bell.fa-2x
          span.badge.badge-pill.badge-danger.bell-badge 3
        #navbarSupportedContent2.collapse.navbar-collapse
          .card.mt-2
            .card-header.font-weight-bold=wordMostVisitedRecipes
            .card-body
              each recipe in recipesMostVisited
                  .card.border-0.mb-3(style="max-width: 540px;")
                    .row.no-gutters
                      .col-4(style="width: 390px;")
                        - var img = recipe.thumbnail300
                        img.lozad.card-img(data-src=img, alt='Imagen receta')
                      .col-8
                        .ml-3
                          h5.card-title
                            a(href=`${recipe.url}`, onclick=`trackEvent(this, 'most_visited_${recipe.id}');`, title="Ver receta").blue-link.font-weight-bold=recipe.title
                          p.card-text
                            | #{recipe.description}
              
  // END Main Navigation

  //Toast for alert messages
  #toast.alert.alert-success.alert-dismissible.fade.fixed-top.z-index-1(role='alert')
    span#toastMessage Gracias!
    button.close(type='button', onclick="hideAlert()", aria-label='Cerrar')
      span(aria-hidden='true') ×

  .container_fluid
      // top search box
      .row.no-gutters
        .col-md-3
        .col-md-6
          .py-1.px-1.mt-1
            
        .col-md-3
      // content
      .row.no-gutters
        .col-md-3
          //left
        .col-md-6
          .mt-1
          block content
          .text-center.mt-3
            a(href=facebookFanPageUrl+'?utm_source=web&utm_medium=cpc&utm_campaign=facebook_banner',  onclick=`trackEvent(this, 'click_facebook_banner');`)
              img.lozad.img-fluid(data-src="https://res.cloudinary.com/dniiru5xy/image/upload/c_scale,w_500,q_auto:low/v1577283800/resopia.com/facebook-fanpage.png", alt="facebook fna page image")
          //related recipes
          if displayMoreRecipes
            .mt-4.border-top
              h2.mx-1.pt-3=wordMoreRecipes
              .row-no-gutters
                each recipe in recipesSpotlight
                  .card.border-0.mb-3(style="max-width: 540px;")
                    .row.no-gutters
                      .col-4(style="width: 390px;")
                        - var img = recipe.thumbnail300
                        img.lozad.card-img(data-src=img, alt='Imagen receta')
                      .col-8
                        .ml-3
                          h5.card-title
                            a(href=`${recipe.url}`, onclick=`trackEvent(this, 'more_recipes_${recipe.id}');`, title="Ver receta").blue-link.font-weight-bold=recipe.title
                          p.card-text
                            span.text-muted #{recipe.description}
            .text-center.my-2 
              a.btn.btn-primary.btn-lg.btn-block(href='/', onclick="trackEvent(this,'ver_mas_recetas')")=wordSeeMoreRecipes
                      
        .col-md-3
          //right column
  // search bottom
  .bg-light.border-top
    .container
      .row
        .col   
          .search-section.px-2
            input#searchBottom(name='searchBottom' type='text', title="Buscar receta"
                    onclick="trackEvent(this,'search_bottom')"
                    placeholder='Buscar receta',  onkeyup=`searchBottom(event, '${wordSearch}')`, 
                    value=searchText).form-control.form-control 
  //footer
  footer.bg-dark.py-5.background-carbon-fibre
    .container.py-2
      .row.justify-content-center
        div
          span.text-white © #{currentYear} Copyright 
          a(href='/', title="Go to home page")  
            span.text-white=pageUrl
        div
          span.text-white |  
          a(href='/sitemap.xml', title="See sitemap")  
            span.text-white sitemap
          span.text-white |  
          a(href='/all/search', title="See search terms")  
            span.text-white search terms
          
include foot
