doctype html
html(lang="es")
  head
    link(rel="preconnect" href="//stackpath.bootstrapcdn.com"  crossorigin)
    if isProduction
      //Global site tag (gtag.js) - Google Analytics
      link(rel="preconnect" href="//googletagmanager.com"  crossorigin)
      - var gaUrl = 'https://www.googletagmanager.com/gtag/js?id='+googleAnalyticsId
      - var gaId = "'"+googleAnalyticsId+"'";
      script(async='', src=gaUrl)
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', #{gaId});
      
    if adsenseEnabled  
      //adsense
      script(data-ad-client=googleAdsenseId, async='', src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      script(async='', custom-element='amp-ad', src='https://cdn.ampproject.org/v0/amp-ad-0.1.js')

    title= title
   
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='Cache-control', content=metaCache)
    meta(name='theme-color', content='#009900')
    meta(name='msapplication-square310x310logo', content=pageLogo)
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content=author)
    meta(name='language', content='es')
    meta(name='keywords', content=keywords)
    meta(name='robots', content='Index, Follow')
    meta(property='og:locale', content='es_ES')
    meta(property='og:type', content='article')
    meta(property='og:site_name', content=siteName)
    meta(property='article:publisher', content=publisher)
    meta(property='article:author', content=author)
    meta(name='title', content=title)
    meta(name='description', content=description)
    meta(property='og:title', content=title)
    meta(property='og:description', content=description)
    meta(property='og:url', content=linkToThisPage)
    meta(property='og:image', content=metaImage)
    meta(property='article:modified_time', content=updatedAt)
    if isHomePage
      script(async='async', defer='true', charset='UTF-8', type='application/ld+json').
        {
          "@context": "http://schema.org/",
          "@type": "WebSite",
          "url": "#{pageUrl}",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "#{pageUrl}/buscar?q={search_term_string}",
            "query-input": "required name=search_term_string"
          },
          "image": [
            "#{pageImage}"
          ],
          "datePublished": "#{pageDatePublished}",
          "dateModified": "#{pageDateModified}",
          "author": {
            "@type": "Organization",
            "name": "#{pageAuthor}"
          },
          "publisher": {
            "@type": "Organization",
            "name": "#{pageOrganization}",
            "logo": {
              "@type": "ImageObject",
                "url": "#{pageLogo}"
            }
          },
          "description": "#{pageDescription}"
        }
    if isRecipePage
      script(async='async', defer='true', charset='UTF-8', type='application/ld+json').
        {
            "@context": "http://schema.org/",
            "@type": "#{pageType}",
            "name": "#{pageName}",
            "image": [
              "#{pageImage}"
            ],
            "datePublished": "#{pageDatePublished}",
            "dateModified": "#{pageDateModified}",
            "description": "#{pageDescription}",
            "keywords": "#{pageKeywords}",
            "recipeIngredient": !{pageRecipeIngredients},
            "recipeInstructions": !{pageRecipeInstructions},
            "recipeCategory": "#{pageRecipeCategory}",
            "author": {
              "@type": "Organization",
              "name": "#{pageAuthor}"
            },
            "prepTime":"#{pageRecipePrepTime}",
            "cookTime":"#{pageRecipeCookTime}",
            "totalTime":"#{pageRecipeTotalTime}",
            "recipeCuisine":"#{pageRecipeCusine}",
            "recipeYield":"#{pageRecipeYield}",
            "video":"#{pageRecipeVideo}",
            "aggregateRating": {
              "@type": "AggregateRating",
              "ratingValue": "#{aggregateRating}",
              "ratingCount": "#{ratingCount}"
            },
        }         
    
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel="icon", sizes="192x192", href=pageLogo)
    link(rel="apple-touch-icon" href=pageLogo)

  body
    // Main Navigation
    header.mb-2.fixed-top
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href=pageUrl)
          strong.brand=siteName
        button.navbar-toggler(type='button', onclick="trackEvent(this,'menu')", data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href=pageUrl)
                | Inicio 
                span.sr-only (inicio)
            li.nav-item
              a.nav-link(href=facebookFanPageUrl+'?utm_source=web&utm_medium=cpc&utm_campaign=facebook_banner') Facebook
            li.nav-item
              a.nav-link(href='/recetas/video-recetas') Video Recetas
            li.nav-item
              a.nav-link(href=pageUrl) Recetas
            li.nav-item
              a.nav-link(href='/recetas/celiacos') Celíacos
    // Main Navigation

    //Toast for alert messages
    #toast.alert.alert-success.alert-dismissible.fade.fixed-top.z-index-1(role='alert')
      span#toastMessage Gracias!
      button.close(type='button', onclick="hideAlert()", aria-label='Cerrar')
        span(aria-hidden='true') ×

    .container-fluid
        // top search box
        .row.mt-4
          .col-md-3
          .col-md-6
            .py-1.px-1.mt-5
              input#searchTop(name='search', type='text', title="Buscar receta",
                  onclick="trackEvent(this,'search')"
                  placeholder='Buscar una receta', onkeyup="searchTop(event)", 
                  value=searchText).form-control.form-control
          .col-md-3
        // content
        .row
          .col-md-3
            //left
          .col-md-6
            .mt-3
            block content
            .text-center.mt-3
              a(href=facebookFanPageUrl+'?utm_source=web&utm_medium=cpc&utm_campaign=facebook_banner')
                img.lozad.img-fluid(data-src="https://res.cloudinary.com/dniiru5xy/image/upload/c_scale,w_500,q_auto:low/v1577283800/resopia.com/facebook-fanpage.png")
            //related recipes
            if displayMoreRecipes
              .mt-4.border-top
                h2.mx-1.pt-3 Más recetas
                .row
                  each recipe in recipesSpotlight
                    .col-sm-6.text-center
                      - var img = recipe.thumbnail500
                      div.bg-secondary.py-1
                        a(href=`${recipe.url}`, title="Ver receta").text-white.py-1.font-weight-bold=recipe.title
                      a(href=`${recipe.url}`, title="Ver receta")
                        img.lozad(data-src=img, alt='imagen receta').img-fluid.mb-2
                      .mb-3.text-left
                        span.text-muted=recipe.description
                       
          .col-md-3
            //right column
    .row
      .col   
        .search-section.bg-primary.px-2
          input#searchBottom(name='searchBottom' type='text', title="Buscar receta"
                  onclick="trackEvent(this,'search')"
                  placeholder='Buscar receta', onkeyup="searchBottom(event)", 
                  value=searchText).form-control.form-control 
    //footer
    footer.bg-dark.py-5.background-carbon-fibre
      .container.py-2
        .row.justify-content-center
          div
            span.text-white © #{currentYear} Copyright 
            a(href='/', title="Go to home page")  
              span.text-white=pageUrl
           
  //jquery and popper cannot be loaded async since is a dependency of bootstra.min.js
  script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  //lozad to load images in a lazy way. Must be loaded sync
  script(src='https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js'  crossorigin='anonymous')
  
  script(async='', src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
  script(async='', src='/javascripts/track.js')
  script(async='', src='/javascripts/common.js')
  script(type='text/javascript').
    $(document).ready(() => {
      // to load images in a lazy way
      // lazy loads elements with default selector as '.lozad'
      const observer = lozad(); 
      observer.observe();
      console.info('lozad observing...');
    });
