extends layout-admin

block content
  div.mt-3
    script(src='https://upload-widget.cloudinary.com/global/all.js' type='text/javascript')
    script.
        const myWidget = cloudinary.createUploadWidget({
                    cloudName: "#{cloudinaryCloudName}",
                    uploadPreset: "#{cloudinaryUploadPreset}"
                }, (error, result) => {
                    if (!error && result && result.event === "success") {
                        console.log('Done! Here is the image info: ', result.info);
                        let fileName = result.info.public_id + '.jpg';
                        fileName = fileName.replaceAll('#{cloudinaryFolder}/', '');
                        console.log('file name ' + fileName);
                        const current = $('#images').val();
                        if(current){
                            $('#images').val(current+','+fileName)
                        }else{
                            $('#images').val(fileName)
                        }

                    }
                }
        )
    script.
        function fromJson(obj){
            console.info(obj);
            // const obj = JSON.parse(text);
            // const obj = text;
            $('#title').val(obj.title)
            $('#ingredients').val(obj.ingredients)
            $('#steps').val(obj.steps)
            const imgs = $('#images').val().split(',');
            $('#images').val(`${obj.img_name},${imgs[1]}`)
            $('#images_url').val(obj.img_url)
        }
    if successMessage
        div(role='alert').alert.alert-success= successMessage
    - var action = "/admin/receta/editar/"+recipe.id
    form(action=action method="POST")
            .card.mt-2.mb-5.border-0
                .card-body
                    if !newRecipe
                        .d-none
                            .form-group.row
                                span Recipe link:
                                    a(href=`${recipe.url}`, title="Go to this recipe detail")=recipe.url
                            .form-group.row
                                div resopia:
                                    - var urlResopia = recipe.url+'?utm_source=facebook&utm_medium=resopia&utm_campaign=fanpage'
                                    div=urlResopia
                                    a(href='https://www.facebook.com/Resopiacom-110467097132918', target='_blank') Resopia
                            .form-group.row
                                div recetas-city:
                                    - var urlRecetasCity = recipe.url+'?utm_source=facebook&utm_medium=recetas-city&utm_campaign=fanpage'
                                    div=urlRecetasCity
                                    a(href='https://www.facebook.com/recetascity/', target='_blank') Recetas city
                            .form-group.row
                                div recetas-para-celiacos:
                                    - var urlRecetasParaCeliacos = recipe.url+'?utm_source=facebook&utm_medium=recetas-para-celiacos&utm_campaign=fanpage'
                                    div=urlRecetasParaCeliacos
                                    a(href='https://www.facebook.com/recetasparaceliacos.info', target='_blank') Recetas para celiacos
                            .form-group.row
                                div recipes21:
                                    - var urlRecipes21 = recipe.url+'?utm_source=facebook&utm_medium=recipes21&utm_campaign=fanpage'
                                    div=urlRecipes21
                                    a(href='https://www.facebook.com/recipes21com', target='_blank') Recipes21
                    if !recipe.active
                        .form-group.row
                            span.text-danger Unpublished recipe
                    .form-group.row
                        label(for="title") Title:
                        input#title(name='title', type='text', placeholder='Recipe title', value=recipe.title).form-control.form-control-sm
                    .form-group.row.d-none
                        label(for="tagsCsv").col-sm-2.col-form-label Tags ids:
                        .col-sm-10
                            input#tagsCsv(name='tags_ids_csv', type='text', placeholder='Tags ids',
                            value=recipe.tags_ids_csv).form-control.form-control-sm
                    if !newRecipe
                      .form-group.row.d-none
                        label(for="recipeTags").col-sm-2.col-form-label Recipe tags:
                        .col-sm-10
                          div#recipeTags
                            each tag in recipe.tags
                              span.badge.badge-pill.badge-secondary.py-2.px-3.ml-1=tag.name

                    .form-group.row.d-none
                      label(for="availableTags").col-sm-2.col-form-label Available tags:
                      .col-sm-10
                        #availableTags
                          each tag in allTags
                            - var tagId = "tag_"+tag.id
                            span(style="cursor: pointer",id=tagId, onclick="selectTag(this)").badge.badge-pill.badge-info.py-2.px-3.ml-1.mb-1
                              span=tag.id
                              span.ml-1=tag.name
                    .form-group.row.d-none
                        label(for="description") Description:
                        textarea(name='description', cols="100", rows="2", placeholder="Description").form-control= recipe.description
                    .form-group.row
                        label(for="description_html") Description Html:
                        textarea(name='description_html', cols="100", rows="6", placeholder="Description Html").form-control= recipe.description_html

                    .form-group.row
                        label(for="ingredients") Ingredients:
                        textarea#ingredients(name='ingredients', cols="100", rows="10", placeholder="Ingredients").form-control= recipe.ingredients
                    .form-group.row
                        label(for="extra_ingredients_title") Extra ingredients title:
                        input(name='extra_ingredients_title', type='text', placeholder='Extra ingredients title', value=recipe.extra_ingredients_title).form-control.form-control-sm
                    .form-group.row
                        label(for="extra_ingredients") Extra ingredients:
                        textarea(name='extra_ingredients', cols="100", rows="5", placeholder="Extra ingredients").form-control= recipe.extra_ingredients
                    .form-group.row
                        label(for="steps") Directions:
                        textarea#steps(name='steps', cols="100", rows="10",  placeholder="Directions").form-control= recipe.steps
                    .form-group.row
                        label(for="images_names_csv") Images names:
                        input#images(name='images_names_csv', type='text', placeholder='image1.jpg, image2.jpg, ...', value=recipe.images_names_csv).form-control.form-control-sm
                        button(type="button" onclick="myWidget.open()").btn.btn-primary Upload
                    if newRecipe
                    .form-group.row
                        label(for="images_urls_csv") Images urls:
                        input#images_url(name='images_urls_csv', type='text', placeholder='url1, url2, ...', value="").form-control.form-control-sm
                    if !newRecipe
                      .form-group.row
                        .d-flex
                            each imageUrl in recipe.images_urls
                                img(src=imageUrl, alt='recipe image' style="width: 150px").img-fluid.ml-1

                    .form-group.row
                        label(for="tags_csv") Tags:
                        input(name='tags_csv', type='text', placeholder='tag1, tag2, tag3', value=recipe.tags_csv).form-control.form-control-sm
                    .form-group.row.d-none
                        textarea(name='notes', cols="100", rows="2", placeholder="Notes").form-control= recipe.notes
                    .d-none
                        .form-group.row
                            label(for="facebookShares").col-sm-2.col-form-label Facebook shares:
                            .col-sm-10
                            input#facebookShares(name='facebook_shares', type='text', placeholder='Facebook shares', value=recipe.facebook_shares).form-control.form-control-sm
                        .form-group.row
                            label(for="pinterestPins").col-sm-2.col-form-label Pinterest pins:
                            .col-sm-10
                            input#pinterestPins(name='pinterest_pins', type='text', placeholder='Pinterest pins', value=recipe.pinterest_pins).form-control.form-control-sm
                        .form-group.row
                            label(for="tweets").col-sm-2.col-form-label Tweets:
                            .col-sm-10
                            input#tweets(name='tweets', type='text', placeholder='Tweets', value=recipe.tweets).form-control.form-control-sm
                        .form-group.row
                            label(for="youtubeVideoId").col-sm-2.col-form-label Youtube video ID:
                            .col-sm-10
                            input#youtubeVideoId(name='youtube_video_id', type='text', placeholder='Youtube video id', value=recipe.youtube_video_id).form-control.form-control-sm
                        if recipe.has_youtube_video
                        .form-group.row
                            div.embed-responsive.embed-responsive-4by3
                            iframe(allowfullscreen frameborder="0" src=recipe.youtube_video_embed_url).embed-responsive-item
                        .form-group.row
                            label(for="prepTimeSeo").col-sm-2.col-form-label Prep time SEO:
                            .col-sm-10
                                input#prepTimeSeo(name='prep_time_seo', type='text', placeholder='Prep time SEO',
                                value=recipe.prep_time_seo).form-control.form-control-sm
                        .form-group.row
                            label(for="cookTimeSeo").col-sm-2.col-form-label Cook time SEO:
                            .col-sm-10
                                input#cookTimeSeo(name='cook_time_seo', type='text', placeholder='Cook time SEO',
                                value=recipe.cook_time_seo).form-control.form-control-sm
                        .form-group.row
                            label(for="totalTimeSeo").col-sm-2.col-form-label Total time SEO:
                            .col-sm-10
                                input#totalTimeSeo(name='total_time_seo', type='text', placeholder='Total time SEO',
                                value=recipe.total_time_seo).form-control.form-control-sm
                        .form-group.row
                            label(for="prepTime").col-sm-2.col-form-label Prep time:
                            .col-sm-10
                                input#prepTime(name='prep_time', type='text', placeholder='Prep time',
                                value=recipe.prep_time).form-control.form-control-sm
                        .form-group.row
                            label(for="cookTime").col-sm-2.col-form-label Cook time:
                            .col-sm-10
                                input#cookTime(name='cook_time', type='text', placeholder='Cook time',
                                value=recipe.cook_time).form-control.form-control-sm
                        .form-group.row
                            label(for="totalTime").col-sm-2.col-form-label Total time:
                            .col-sm-10
                                input#totalTime(name='total_time', type='text', placeholder='Total time',
                                value=recipe.total_time).form-control.form-control-sm
                        .form-group.row
                            label(for="cusine").col-sm-2.col-form-label Cusine:
                            .col-sm-10
                                input#cusine(name='cuisine', type='text', placeholder='Cuisine',
                                value=recipe.cuisine).form-control.form-control-sm
                        .form-group.row
                            label(for="yield").col-sm-2.col-form-label Yield:
                            .col-sm-10
                                input#yield(name='yield', type='text', placeholder='Yield',
                                value=recipe.yield).form-control.form-control-sm
                        .form-group.row
                            label(for="aggregate_rating").col-sm-2.col-form-label Aggregate rating:
                            .col-sm-10
                                input#aggregate_rating(name='aggregate_rating', type='text', placeholder='Aggregate_Rating',
                                value=recipe.aggregate_rating).form-control.form-control-sm
                        .form-group.row
                            label(for="rating_count").col-sm-2.col-form-label Rating count:
                            .col-sm-10
                                input#rating_count(name='rating_count', type='text', placeholder='Rating count',
                                value=recipe.rating_count).form-control.form-control-sm
                    .form-group.row
                        label.font-weight-bold Created at:
                        span=recipe.created_at
                        label.ml-3.font-weight-bold Updated at:
                        span=recipe.updated_at
                    .form-group.row
                        .form-check
                            input(type='radio', name='active', id='active', value='active' checked=recipe.active).form-check-input
                            label(for='active').form-check-label Active
                        .form-check.ml-2
                            input(type='radio', name='active', id='inactive', value='inactive' checked=!recipe.active).form-check-input
                            label(for='inactive').form-check-label Inactive
                    .form-group.row
                        button(type="submit" ).btn.btn-primary Guardar
