extends layout

block content
    h1.mx-1=recipe.title
    span.mx-1.text-muted=recipe.created_at_es
    - var img = recipe.featured_image_url
    if isMobile
        - img = recipe.featured_image_url_mobile
    img.lozad(data-src=img, alt='imagen receta').img-fluid
    .mx-1.mt-3
      span.text-muted=recipe.description
    h2.mx-1.mt-3 Ingredientes
    ul.list-group.list-group-flush
      each ingr in recipe.ingredients_array
        li(onclick="trackEvent(this,'ingredients'); activateElem(this)").list-group-item= ingr
    if recipe.has_extra_ingredients
      h3.mx-1.mt-3=recipe.extra_ingredients_title
      ul.list-group.list-group-flush
        each extra_ingr in recipe.extra_ingredients_array
          li(onclick="trackEvent(this,'ingredients'); activateElem(this)").list-group-item= extra_ingr
    
    - var img = recipe.secondary_image_url
    if isMobile
        - img = recipe.secondary_image_url_mobile
    img.lozad(data-src=img, alt='imagen receta').img-fluid
    h2.mx-1.mt-3 Elaboración 
    img.lozad(data-src='/images/clock.svg', width="20px", alt="imagen reloj")
    span.text-muted.ml-2=recipe.total_time
    #steps
      ol.list-group.list-group-flush.list-group-ol.mt-2
        each step in recipe.steps_array
          li(onclick="trackEvent(this,'recipe_steps'); activateElem(this)").list-group-item.list-group-item-ol= step
    if recipe.has_notes
      h2.mx-1.mt-3 Tips para preparar esta receta
      span.pl-2=recipe.notes
    if recipe.has_youtube_video
      h2.mx-1.mt-3 Video receta
      - var youtube_video_embed_url = recipe.youtube_video_embed_url
      .mt-3.youtube-video-place(data-yt-url=youtube_video_embed_url)
        img#youtubeVideoImage.lozad(data-src='/images/youtube-thumbnail.jpg', 
        onclick="loadYoutubeVideo(); trackEvent(this,'youtube_video_display')").play-youtube-video

    //social icons for sharing
    .bg-light.text-center.py-3.mt-2
      a#facebookShare(data-pin-do='buttonFacebook', href=recipe.facebookSharingUrl,
        onclick="trackEvent(this,'social')").btn.btn-facebook.btn-social
        span.pl-2.text-white Compartir (#{recipe.facebook_shares})
      a#pinterestShare(data-pin-do='buttonPin', href=recipe.pinterestSharingUrl,
        onclick="trackEvent(this,'social')").ml-1.btn.btn-pinterest.btn-social
        span.pl-2.text-white Pin (#{recipe.pinterest_pins})
      a#twitterShare(data-pin-do='buttonTwitter', href=recipe.twitterSharingUrl,
        onclick="trackEvent(this,'social')").ml-1.btn.btn-twitter.btn-social
        span.pl-2.text-white Tweet (#{recipe.tweets})
      a#whastappShare(data-pin-do='buttonWhatsapp', href=recipe.whatsappSharingUrl,
        onclick="trackEvent(this,'social')").ml-1.btn.btn-whatsapp.btn-social
        span.pl-2.text-white Whatsapp
    .bg-light.border.py-1.mt-2
      span.text-secondary.pl-2
      .d-flex.justify-content-center
        each tag in recipe.tags
          h5.ml-1
            a(href=`/recetas/${tag.name_seo}`, title="Ver mas recetas de esta categoría").badge.badge-pill.badge-info.py-2.px-3
              span=tag.name