extends layout

block content
    h1.mx-1.display-3=recipe.title
    .d-flex.justify-content-between
      .mx-1.text-muted=recipe.created_at_es
      //social icons for sharing
      .mr-2
        a#facebookShare(data-pin-do='buttonFacebook', href=recipe.facebookSharingUrl+'?utm_source=facebook&utm_medium=web&utm_campaign=recipe-detail',
          onclick="trackEvent(this,'social_facebook')")
          i.fa.fa-facebook.icon-social.facebook-color
        a#pinterestShare(data-pin-do='buttonPin', href=recipe.pinterestSharingUrl+'?utm_source=pinterest&utm_medium=web&utm_campaign=recipe-detail',
          onclick="trackEvent(this,'social_pinterest')").ml-3
          i.fa.fa-pinterest.icon-social.pinterest-color
        a#twitterShare(data-pin-do='buttonTwitter', href=recipe.twitterSharingUrl,
          onclick="trackEvent(this,'social_twitter')").ml-3
          i.fa.fa-twitter.icon-social.twitter-color
        a#whastappShare(data-pin-do='buttonWhatsapp', href=recipe.whatsappSharingUrl+'?utm_source=whatsapp&utm_medium=web&utm_campaign=recipe-detail',
          onclick="trackEvent(this,'social_whatsapp')").ml-3
          i.fa.fa-whatsapp.icon-social.whatsapp-color
    
    
    - var img = recipe.featured_image_url
    if isMobile
        - img = recipe.featured_image_url_mobile
    img.lozad(data-src=img, alt='imagen receta', onclick=`trackEvent(this, 'recipe_image_primary_${recipe.id}');`).img-fluid
    .mx-1.mt-3
      span.text-muted=recipe.description
    //- div#giphyWrapper.mt-1.text-center
    //-     img#giphyGif.lozad(data-src='https://res.cloudinary.com/dniiru5xy/image/upload/c_thumb,w_512,g_face/v1577674089/resopia.com/gif-button.png', 
    //-     alt='giphy'
    //-     onclick="loadGiphy(); trackEvent(this,'giphy_discover')", style="cursor: pointer").img-fluid

    // Ingredients
    div
      h2.mx-1.mt-3.pt-2.display-4 Ingredientes
      ul.list-group
        each ingr in recipe.ingredients_array
          li.list-group-item.d-flex.justify-content-between.align-items-center(style="cursor: pointer", onclick="trackEvent(this,'ingredients'); activateElem(this)")= ingr
            i.fa.fa-check.text-light
      if recipe.has_extra_ingredients
        h2.mx-1.mt-3=recipe.extra_ingredients_title
        ul.list-group
          each extra_ingr in recipe.extra_ingredients_array
            li.list-group-item.d-flex.justify-content-between.align-items-center(style="cursor: pointer", onclick="trackEvent(this,'ingredients_extra'); activateElem(this)")= extra_ingr
              i.fa.fa-check.text-light
      
    - var img = recipe.secondary_image_url
    if isMobile
        - img = recipe.secondary_image_url_mobile
    img.lozad.mt-2(data-src=img, alt='imagen receta', onclick=`trackEvent(this, 'recipe_image_secondary_${recipe.id}');`).img-fluid
    
    // Recipe steps
    div
      h2.mx-1.pt-2.display-4 Elaboración 
      i.fa.fa-clock-o.ml-1
      span.ml-2=recipe.total_time
      #steps
        ul.list-group.list-group-ol.mt-2
          each step, index in recipe.steps_array
            - var num = index + 1
            li.list-group-item.d-flex.justify-content-between.align-items-cente(style="cursor: pointer", onclick="trackEvent(this,'recipe_steps'); activateElem(this)")
              div 
                span.badge.badge-dark.mr-1.badge-steps=num
                span= step
              i.fa.fa-check.text-light.ml-1
    // Recipe notes
    if recipe.has_notes
      .border.border-dark.rounded.mt-3.p-4.bg-light.mx-2
        h3 Tips para preparar esta receta
        span.pl-2=recipe.notes
    
    // Recipe star votes
    .mt-1.p-4.mx-2.text-center.h3
      div.mr-2.h4 Dinos que piensas de esta receta
      span#rating1.fa.fa-star(onclick=`rateRecipe(this,1, ${recipe.id});`)
      span#rating2.fa.fa-star.ml-1(onclick=`rateRecipe(this,2, ${recipe.id});`)
      span#rating3.fa.fa-star.ml-1(onclick=`rateRecipe(this,3, ${recipe.id});`)
      span#rating4.fa.fa-star.ml-1(onclick=`rateRecipe(this,4, ${recipe.id});`)
      span#rating5.fa.fa-star.ml-1(onclick=`rateRecipe(this,5, ${recipe.id});`)
    
    // Recipe video
    if recipe.has_youtube_video
      h2.mx-1.mt-3 Video receta
      - var youtube_video_embed_url = recipe.youtube_video_embed_url
      .mt-3.youtube-video-place(data-yt-url=youtube_video_embed_url)
        img#youtubeVideoImage.lozad(data-src='/images/youtube-thumbnail.jpg', 
        alt="youtube play"
        onclick="loadYoutubeVideo(); trackEvent(this,'youtube_video_display')").play-youtube-video.img-fluid
    
    // recipe tags
    .bg-light.border.mt-2.mx-2
      .d-flex.justify-content-center.py-4
        each tag in recipe.tags
          span.ml-1
            a(href=`/recetas/${tag.name_seo}`, onclick=`trackEvent(this, 'tag_click_${tag.name_seo}');`, title="Ver mas recetas de esta categoría").badge.badge-pill.badge-info.py-2.px-3
              span=tag.name
    
    // related searches
    .card.mt-2.mx-2
      .card-header.font-weight-bold Búsquedas relacionadas con esta receta
      .list-group
      each search in relatedSearches
        a.list-group-item.list-group-item-action.blue-link(href=`/buscar?q=${search.keyword}`, onclick=`trackEvent(this, 'related_search_${search.keyword_seo}');`, title="Ver mas recetas relacionadas")
            span=search.title